<div class="applications-section">
    <h1> Pedidos Recientes </h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Id</th>
            <th>Valor</th>
            <th>Sucursal</th>
        </tr>
        <h1> Pedidos Aceptados </h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Id</th>
                
            </tr>
            <h1> Pedidos Recchazados </h1>
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Id</th>
                    
                </tr>
