<body>
  <header class="header_basic">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-md nav_barra">
        <div class="navbar container container-fluid" data-bs-theme="dark">
          <a class="navbar-brand" href="index.html">
            <img
              src="assets/logo_v2.png"
              class=""
              style="max-width: 120px"
              alt="logo_food"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse ms-auto"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item text-center ">
                <a class="nav-link active" aria-current="page" href="index.html">
                  Inicio
                </a>
              </li>
              <li class="nav-item text-center ">
                <a class="nav-link" routerLink="/">
                  ¿Quienes somos? 
                </a>
              </li>
              <li class="nav-item text-center ">
                <a class="nav-link" routerLink="/contacto">
                  Contacto
                </a>
              </li>
              <li class="nav-item text-center ">
                <a class="nav-link" routerLink="/carta"> Carta </a>
              </li>
              <li *ngIf="!estaAutenticado" class="nav-item text-center">
                <a
                  class="btn btn-outline-light m-1 "
                  id="nav-login"
                  routerLink="/login"
                >
                  Login
                </a>
              </li>
              <li *ngIf="!estaAutenticado" class="nav-item text-center">
                <a
                  class="btn btn-outline-light m-1 "
                  id="nav-registro"
                  routerLink="/registro"
                >
                  Registro
                </a>
              </li>
              <li *ngIf="estaAutenticado" class="nav-item text-center">
                <a
                  class="btn btn-outline-light m-1 "
                  id="nav-logout"
                >
                  Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
</body>

<!-- <div class="container">
      
      <nav class="navbar navbar-dark  navbar-expand-md nav_barra">
        <div class="container-fluid">
          Botón para colapsar la barra de navegación en dispositivos pequeños 
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <img
            src="assets/logo_v2.png"
            alt="Logo de la aplicación"
            style="max-width: 100px; height: auto"
            class="navbar-brand mb-2"
          />

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li *ngIf="!estaAutenticado" class="nav-item">
                <a
                  class="nav-link active"
                  routerLink="/home"
                  aria-current="page"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page">CONTACTO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/carta" aria-current="page"
                  >CARTA</a
                >
              </li>
              <li *ngIf="!estaAutenticado" class="nav-item">
                <a class="nav-link" routerLink="/login" aria-current="page"
                  >LOGIN</a
                >
              </li>
              <li *ngIf="!estaAutenticado" class="nav-item">
                <a class="nav-link" routerLink="/registro" aria-current="page"
                  >REGISTRO</a
                >
              </li>
              <li *ngIf="estaAutenticado" class="nav-item">
                <a class="nav-link" routerLink="/" aria-current="page"
                  >CERRAR SESIÓN</a
                >
              </li>
            </ul>
          </div> -->

<!-- <ng-template #viewHome>

</ng-template> -->
