<div class="applications-section">
    <h1> Historial de Compras </h1>

    <table *ngIf="historialData">

        <tr style="background-color: blue;">
            <th> Fecha </th>
            <th> Direccion </th>
            <th> Valor </th>
        </tr>

        <tr style="background-color:rgb(227, 227, 227)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>

        <tr style="background-color:rgb(200, 200, 200)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>

        <tr style="background-color:rgb(227, 227, 227)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>
        
        <tr style="background-color:rgb(200, 200, 200)" *ngFor="let item of historialData">
             <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>

        <tr style="background-color:rgb(227, 227, 227)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>
        
        <tr style="background-color:rgb(200, 200, 200)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>

        <tr style="background-color:rgb(227, 227, 227)" *ngFor="let item of historialData">
            <th> {{pedido.fecha_pedido}} </th>
            <th> {{pedido.direccion_entrega}} </th>
            <th> {{ID_usuario}} </th>
        </tr>

  </ul>
</div>
  
    </table>
</div>
