<section>

<div class="chart-wrap horizontal">
   
    <div class="grid">
        <div class="bar" style="--bar-value:85%;" data-name="2018"></div>
        <div class="bar" style="--bar-value:23%;" data-name="2019"></div>
        <div class="bar" style="--bar-value:7%;" data-name="2020"></div>
        <div class="bar" style="--bar-value:38%;" data-name="2021"></div>
        <div class="bar" style="--bar-value:23%;" data-name="2022"></div>
        <div class="bar" style="--bar-value:7%;" data-name="2023"></div>
        <div class="bar" style="--bar-value:38%;" data-name="2024"></div>
    </div>
</div>

<div class="chart-wrap vertical">
   
    <div class="grid">
        <div class="bar" style="--bar-value:85%;" data-name="Enero"></div>
        <div class="bar" style="--bar-value:23%;" data-name="Febrero"></div>
        <div class="bar" style="--bar-value:7%;" data-name="Marzo"></div>
        <div class="bar" style="--bar-value:38%;" data-name="Abril"></div>
        <div class="bar" style="--bar-value:35%;" data-name="Mayo"></div>
        <div class="bar" style="--bar-value:30%;" data-name="Junio"></div>
        <div class="bar" style="--bar-value:5%;" data-name="Julio"></div>
        <div class="bar" style="--bar-value:20%;" data-name="Agosto"></div>
        <div class="bar" style="--bar-value:23%;" data-name="Septiembre"></div>
        <div class="bar" style="--bar-value:7%;" data-name="Octubre"></div>
        <div class="bar" style="--bar-value:38%;" data-name="Noviembre"></div>
        <div class="bar" style="--bar-value:35%;" data-name="Diciembre"></div>
    </div>
</div>
</section>
   