
  <h1 class="title">Conoce nuestra variedad de comidas.</h1>

  <section class="container-cards container">
    <!-- Aca se generará de forma dinamica las cartas atraves de JavaScript.
     -->
     <div class="card-t" *ngFor="let product of productos">
        <div class="card-info" >
            <div class="row">
              <div class="col-md-4">
                <img src='{{product.image.imageURL}}' class="card-img my-auto" alt={{product.image.imageAlt}}>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-info--title mb-5">{{product.title}}</h5>
                  <p class="card-info-description">{{product.description}}</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  <button class="btn btn-primary card-button mt-3" >Comprar</button>
                </div>
              </div>
            </div>
          </div>
     
     
       
     </div>

  </section>

  <!-- Modal -->
  <section id="myModal" class="modal">
    <article class="modal-content">
      <span class="close">&times;</span>

      <div class="modal-info">
        <img class="modal-img img-fluid" src="" alt="" />
        <h2 class="modal-title">Nombre del producto</h2>
        <hr />
        <p class="modal-price"></p>
        <p class="modal-text">Ingrese la cantidad a comprar.</p>
        <input class="modal-input" type="number" value="1" min="1" />
        <h3 class="modal-total"></h3>
        <p class="modal-textConfirm">¿Desea realizar la compra?</p>
      </div>

      <button class="confirm-button">Confirmar</button>
    </article>
  </section>

  <!-- carrito de compras -->
<!--
  <button class="cart-container fixed-top fixed-bottom hidden" aria-label="mostrar carrito de compras">
    <i class="bi bi-cart-check shopping-cart"></i>
  </button>

  <aside class=" ">
    <div class="sidebar p-2 d-flex flex-column fixed-top hidden">
      <button type="button" class="btn-close colapse-sidebar ms-auto mb-5" aria-label="Close"></button>
      <div class="sidebar-items">
        <ul class="shop-list">

        
        </ul>
      </div>
      <button class="btn btn-pay mt-auto rounded-3 inter">Pagar</button>
    </div>
  </aside>
 


-->
