<footer>
  <div class="container social-container align-content-center">
    <ul class="nav justify-content-center icon-list pb-4" id="lista">
      <li class="nav-item mx-3 social-icon" id="facebook" >
          <span>
              <a target="_blank" rel="noreferrer" href="https://facebook.com/" class="icon-link text-color-primario" >
                  <i class="bi bi-facebook footer-icon"></i>
              </a>
          </span>
      </li>

      <li class="nav-item mx-3 social-icon" id="linkedin">
          <span>
              <a target="_blank" rel="noreferrer" href="https://www.twitter.com/" class="icon-link text-color-primario" >
                  <i class="bi bi-twitter-x footer-icon"></i>
              </a>
          </span>
      </li>

      <li class="nav-item mx-3 social-icon" id="hrank">
          <span>
              <a target="_blank" rel="noreferrer" href="https://www.instagram.com/" class="icon-link text-color-primario" >
                  <i class="bi bi-instagram footer-icon"></i>
              </a>
          </span>
      </li>

      <li class="nav-item mx-3 social-icon" id="mail" >
          <span>
              <a target="_blank" rel="noreferrer" href="mailto:cerveux@hotmail.com? mail:" class="icon-link text-color-primario">
                  <i class="bi bi-envelope-fill footer-icon"></i>
              </a>
          </span>
      </li>
  </ul>

  </div>
  <div class="container trademark mt-4 mb-1">
    <p class="text-center text-color-primario inter"> Esta página fue hecha con <i
        class="bi bi-heart-fill text-danger"></i> por <a class="text-color-primario text-decoration-none fw-bold moispc"
        routerLink="/quienes-somos">MOISPC | Conocenos!</a></p>
    <div>
      <h6 class="text_copy">Copyright ©2024 Todos los derechos reservados</h6>
    </div>
  </div>
</footer>


<!-- <div class="container text-center mt-1">
        <a class="text-decoration-none fw-bold moispc inter conocenos" href="./nosotros.html" id="conocenoslink">Conocenos!!!</a>
    </div> -->




