<footer>
    <div class="container social-container align-content-center" >
        
        <ul class="nav justify-content-center icon-list pb-4" id="lista">
            <li class="nav-item mx-3 social-icon" id="facebook" >
                <span>
                    <a class="btn btn-dark pepe" href="#!"><i class="fab fa-facebook-f"></i></a>   
                </span>
            </li>

            <li class="nav-item  social-icon" id="twitter">
                <span>
                    <a class="btn btn-dark " href="#!"><i class="fab fa-twitter" style="size: 120px;"></i></a>
                </span>
            </li>

            <li class="nav-item  social-icon" id="instagram">
                <span>
                    <a class="btn btn-dark" href="#!"><i class="fab fa-instagram"></i></a>
                </span>
            </li>

            <li class="nav-item  social-icon" id="mail" >
                <span>
                    <a class="btn btn-dark" href="#!"><i class="fa fa-envelope"></i></a>
                </span>
            </li>
        </ul>

    </div>

    <div class="container trademark mt-4 mb-1">
        <p class="text-center text-color-primario inter" >Copyright ©️2023 Todos los derechos reservados | Esta página fue hecha con <i class="bi bi-heart-fill text-danger"></i> por <a class="text-color-primario text-decoration-none fw-bold moispc" href="./nosotros.html">MOISPC</a></p>

    </div>

    <div class="container text-center mt-1">
        <a class="text-decoration-none fw-bold moispc inter conocenos" href="./nosotros.html" id="conocenoslink">Conocenos!!!</a>
    </div>

</footer>



