<div class="dashboard">

    <div class="header">
        <h1> Compras Anuales </h1>
        <app-states></app-states>
    </div>

    <div>
        <div class="applications-section">
            <h1> Historial de Compras </h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Sucursal</th>
                </tr>

                <tr style="background-color:rgb(227, 227, 227)">
                    <td>  Persona_1 </td>
                    <td>  Fecha_1 </td>
                    <td>  Valor_1 </td>
                    <td>  Lugar_1 </td>
                </tr>

                <tr style="background-color:rgb(200, 200, 200)">
                    <td>  Persona_2 </td>
                    <td>  Fecha_2 </td>
                    <td>  Valor_2 </td>
                    <td>  Lugar_2 </td>
                </tr>

                <tr style="background-color:rgb(227, 227, 227)">
                    <td>  Persona_3 </td>
                    <td>  Fecha_3 </td>
                    <td>  Valor_3 </td>
                    <td>  Lugar_3 </td>
                </tr>

                <tr style="background-color:rgb(200, 200, 200)">
                    <td>  Persona_4 </td>
                    <td>  Fecha_4 </td>
                    <td>  Valor_4 </td>
                    <td>  Lugar_4 </td>
                </tr>

                <tr style="background-color:rgb(227, 227, 227)">
                    <td>  Persona_5 </td>
                    <td>  Fecha_5 </td>
                    <td>  Valor_5 </td>
                    <td>  Lugar_5 </td>
                </tr>

                <tr style="background-color:rgb(200, 200, 200)">
                    <td>  Persona_6 </td>
                    <td>  Fecha_6 </td>
                    <td>  Valor_6 </td>
                    <td>  Lugar_6 </td>
                </tr>

                <tr style="background-color:rgb(227, 227, 227)">
                    <td>  Persona_7 </td>
                    <td>  Fecha_7 </td>
                    <td>  Valor_7 </td>
                    <td>  Lugar_7 </td>
                </tr>

                <tr style="background-color:rgb(227, 227, 227)">
                    <td>  Persona_8 </td>
                    <td>  Fecha_8 </td>
                    <td>  Valor_8 </td>
                    <td>  Lugar_8 </td>
                </tr>
            </table>
        </div>
    </div>
</div>