<div class="container mt-6 mb-7" id="factura">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-xl-7">
      <div class="card">
        <div class="card-body p-5">
          <h2 class="user-nombre">{{ pedido.nombreCliente }},</h2>
          <p class="fs-sm">
            Esta es la factura por el pago de
            <strong class="compra-total">$ {{ pedido.total }}</strong> que
            hiciste a ISPC FooD.
          </p>

          <div class="border-top border-gray-200 pt-4 mt-4">
            <div class="row">
              <div class="col-md-6">
                <div class="text-muted mb-2">Factura C</div>
                <strong>#88305</strong>
              </div>
              <div class="col-md-6 text-md-end">
                <div class="text-muted mb-2">Fecha de Pago</div>
                <strong class="fecha-pago">{{ fechaActual }}</strong>
              </div>
            </div>
          </div>

          <div class="border-top border-gray-200 mt-4 py-4">
            <div class="row">
              <div class="col-md-6">
                <div class="text-muted mb-2">Cliente</div>
                <strong> {{ pedido.nombreCliente }} </strong>
                <p class="fs-sm">
                  {{ pedido.direccion }}
                  <br />
                  <a href="#!" class="text-purple user-mail"> </a>
                </p>
              </div>
              <div class="col-md-6 text-md-end">
                <div class="text-muted mb-2">Pago realizado a:</div>
                <strong> ISPC FooD S.A. </strong>
                <p class="fs-sm">
                  Humberto Primo 680, Córdoba, Argentina
                  <br />
                  <a href="#!" class="text-purple">ispcfood&#64;email.com</a>
                </p>
              </div>
            </div>
          </div>

          <table class="table border-bottom border-gray-200 mt-3">
            <thead>
              <tr>
                <th scope="col" class="fs-sm text-color-terciario px-0">
                Cantidad
              </th>
                <th scope="col" class="fs-sm text-color-terciario px-0">
                  Descripción
                </th>
                <th
                  scope="col"
                  class="fs-sm text-color-terciario text-end px-0"
                >
                  Monto
                </th>
              </tr>
            </thead>
            <tbody class="table-container">
              @for (item of pedido.carrito; track pedido.carrito){
             <tr>
              <td>{{item.cantidad}}</td>

              <td>{{item.producto}}</td>
              <td>{{"$ "+ item.precio}}</td>

             </tr>
              }
            </tbody>
          </table>

          <div class="mt-5">
            <div class="d-flex justify-content-end">
              <p class="text-muted me-3">Subtotal: </p>
              <span class="subtotal">{{"$ "+ pedido.total}}</span>
            </div>
            <div class="d-flex justify-content-end">
              <p class="text-muted me-3">Descuento:</p>
              <span>-$ 0</span>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <h5 class="me-3">Total:</h5>
              <h5 class="text-success total">{{"$ "+pedido.total}}</h5>
            </div>
          </div>
        </div>
        <button class="btn btn-success imprimir" (click)="printDiv()">
          Imprimir
        </button>
      </div>
    </div>
  </div>
  <p class="text-center" id="textCountdown">
    Volveremos a la página principal en {{ contador }} segundos
  </p>
</div>
