<aside class=" ">
    <div class="sidebar p-2 d-flex flex-column fixed-top">
        <button type="button" class="btn-close colapse-sidebar ms-auto mb-5" aria-label="Close"></button>
        <div class="sidebar-items">
            <ul class="shop-list" style="list-style-type: none;">
                <li class="product-card bg-light position-relative rounded rounded-2 my-2" *ngFor="let producto of productos">
                    <div class="card-content row">
                        <div class="img-container col-md-4 d-flex align-items-center">
                            <img [src]="producto.imagenUrl" alt="{{ producto.nombre }}" style="max-width: 100%;">
                        </div>
                        
                        <div class="product-info col-8">
                            <h3>{{ producto.nombre }}</h3>
                            <p>Cantidad: {{ producto.cantidad }}</p>
                            <p>Precio: {{ producto.precio }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-pay mt-auto rounded-3 inter">Pagar</button>
    </div>
</aside>