

.form-signin {
  width: 100%;
  max-width: 520px;
  padding: 60px;
  margin: auto;
  background-color: #e6ebedef;
  border-radius: 3%;
}
.form-floating{
  margin: 20px;

}

.form-floating label{
  color: var(--color-secundario);
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}


.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442; /* red */
    }
button{
  background-color: var(--color-secundario);
}
